body {
    margin: 0%;
    font-family: system-ui;
}

nav {
    height: 50px;
    background-color: #45543d;
}

fieldset {
    border: none;
}

fieldset input {
    height: 35px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: #e8efe4;
    font-family: Slab Serif;
    font-size: 1.1rem;
}

fieldset p {
    font-family: Slab Serif;
    font-size: 1.3rem;
    margin-top: -2%;
    margin-bottom: 3%;
}

button {
    height: 37px;
    color: floralwhite;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #3c5c2b;
    font-size: 1rem;
    font-family:  Slab Serif;
}

button:hover {
    background-color: #84af6d;
}

.button__flex {
    display: flex;
    padding-top: 11%;
}

.banner {
    background-image: url(img/fundo2.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
}

.title {
    display:flex;
    flex-direction: column;
    align-items: center;

}
.banner__title {
    font-size: 85px;
    font-family: system-ui;
    color: rgb(5, 17, 3);
}

.sub__title {
    color: rgb(1, 12, 1);
    font-family: system-ui;
    font-size: 50px;

}

.banner_p {
    font-size: 40px;
    margin-top: -5%;
    font-family: system-ui;
}

.saiba_mais {
   width: 30%;
   margin-bottom: 3%;
}

#contact {
    background-color: rgba(198, 238, 189, 0.774);
    display: flex;
    justify-content: space-between;
}

.select_escolaridade {
    color: #1a1b1b;
    height: 37px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background-color: #e8efe4;
    font-family: Slab Serif;
    font-size: 1.1rem;
}

@media screen and (max-width: 1350px){
 
 .banner {
 
     display: block;
     text-align: center;
 }

 .sub__title {
     margin-top: 0%;
 }

 #contact {
     justify-content: space-evenly;
 }

 #contact input {
     width: 100%;
 }

}
