
body {
    margin: 0%;

}

nav {
    height: 50px;
    background-color: #45543d;
}

fieldset {
    border:none;
}

fieldset input {
    height: 35px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: #e8efe4;
    font-family: Slab Serif;
    font-size: 1.1rem;
}

fieldset p {
    font-family: Slab Serif;
    font-size: 1.3rem;
    margin-top: -2%;
    margin-bottom: 3%;
}

button {
    height: 37px;
    color: floralwhite;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #45543d;
    font-size: 1rem;
    font-family:  Slab Serif;
}

button:hover {
    background-color: #84af6d;
}



.select_escolaridade {
    color: #1a1b1b;
    height: 37px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background-color: #e8efe4;
    font-family: Slab Serif;
    font-size: 1.1rem;
}

.button_flex {
    display: flex;

}

.btn-right {
    margin-left: -15%;
}

#contact {
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

.right_form input {
    width: 130%;
}

.right_form {
   margin-top: 2%;
}


@media screen and (max-width: 1150px) {
  
nav {
    margin: auto;
}
 
 #contact {
     display: inline-block;
     margin-left: 13%;
     
 }
    
}
